@charset "UTF-8";

h1{
    font-size: 4rem;
}

.col+.col{
    margin-bottom: 1rem;
}

.row>.col-12>h2{
    margin-top: 2rem;
    font-size: 2.5rem;
}

span{
    font-size: small;
}

.fancam{
    margin-bottom: 1em;
}
